/* CSS used here will be applied after bootstrap.css */

body {
 background: url('../assets/img/bg_suburb.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 padding: 70px 0 0;
}

.panel-default {
 opacity: 0.9;
 margin-top:30px;
}
.form-group.last {
 margin-bottom:0px;
}


.panel-body .row {
  margin-bottom: 20px;
}
.panel-body .row:last-child {
  margin-bottom: 0;
}
