.journey {
	display: none;
}

.connection {
	min-height: 30px;
	margin: 10px 50px;
	padding-top: 20px;
}

#connections {
	min-height: 100vh;
	height: auto;
	padding: 50px 0;
}

/* Limitation of autocomplete */
.ui-autocomplete {
	max-height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#inside {
	border: 2px solid #285F88;
	margin: 0 50px;
}

.item {
	padding: 0 15px;
	border-right: 2px solid #285F88;
	height: 30px;
	float: left;
	font-family: sans-serif;
}

.norightborder {
	border-right: none;
	width: 150px
}

.item div p {
	margin-top: 7px;
	color: black;
}

.title {
	background: #2980b9;
	color: #fff;
	padding: 15px;
	height: auto;
	margin-top: 0px;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 5px solid #285F88;
}

#durationItem {
	width: 38px;
}
.right {
	float: right;
	border: none;
}

.right div p:hover {
	color: blue;
}

.plusbutton {
	float: right;
	margin-top: -8px;
	padding-left: 15px;
}

.details:hover {
	float: right;
	color: #1D50E8;
}

@media ( max-width : 900px) {
	.visibleFalse {
		display: none;
	}
	.right {
		float: right;
		border: none;
		width: 0px;
		padding: 0px;
	}
}

@media ( max-width : 740px) {
	#inside{
		margin: 0px;
	}
}

@media (max-width: 635px){
	.type{
		display: none;
	}
	
	.norightborder{
		width: 0px;
		padding: 0px;
	}	
}

@media ( max-width : 500px) {
	.changes{
		display: none;
	}
	
	#borderChanges{
		padding-right: 0px;
		border-right: none;
	}
	
	.connection{
		margin: 10px 25px 10px 25px;
	}

}

