body {
	margin: 0;
	padding: 0
}

.imgheader {
	background-repeat: no-repeat;
	background-size: cover;
	visibility: inherit;
	height: 100vh;
}

.buttonBottom {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%
}

@media ( max-height : 520px) {
	.imgheader {
		background-repeat: no-repeat;
		background-size: cover;
		visibility: inherit;
		min-height: 100vh;
		height: auto;
	}
}

@media ( max-height : 370px) {
	.buttonBottom {
		display: none;
	}
}

h1 {
	color: white;
	font-family: arial;
	margin: 0;
}

.clear {
	clear: both;
}

.formbackground {
	height: 315px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	top: 25%;	
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: grey;
}

#footer {
	background-color: #555;
	margin-bottom: 15px;
	min-height: 50px;
	height: auto;
	max-height: 100px;
	margin: 0 0 0 0;
}

#footercenter {
	margin: 0 auto;
	width: 95%;
}

#footercenter p {
	padding-top: 15px;
	text-align: center;
}

.clear {
	clear: both;
}

.aboutperson h3, p {
	color: white;
	font-family: arial;
}

#aboutus {
	min-height: 100vh;
	height: auto;
	background-image: url("../img/background_about_us.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	visibility: inherit;
}

.about {
	height: 1000px;
	padding: 10% 0 0 0;
	margin-left: auto;
	margin-right: auto;
}

.aboutperson {
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	width: 250px;
	height: auto;
	margin: 20px 40px 20px 40px;
	padding: 10px 10px 0 10px;
}

.img-about {
	border-radius: 50%;
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px
}