body {
	margin: 0;
	padding: 0
}

.imgheader {
	background-repeat: no-repeat;
	background-size: cover;
	visibility: inherit;
	height: 100vh;
}

h1 {
	color: white;
	font-family: arial;
	margin: 0;
}

.buttonBottom {
	position: absolute;
	bottom: 0;
	margin: 0 50%
}

.formbackground {
	height: 315px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	top: 30%;
}

a:link, a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: grey;
}

#footer{
	background-color: #555;
}

#containerfooter h1{
	font-size: 18px;
	font-family: Arial;
	text-align: center;
	padding-top: 15px;
}

#containerfooter{
	width: 50%;
	margin: 0 auto;
	height: auto;
	padding: 15px 15px 15px 0;
}

#leftfooter{
	float: left;
	width: 300px;
}

#rightfooter {
	float: left;
	border-left: 1px solid gray; 
	width: 55%;
	height: 150px;
}

#rightfooter p {
	padding: 40px 40px;
}

.clear {
	clear: both;
	float: none;
}

@media ( min-width : 1071px) {
	#aboutus {
		height: 100vh;
		background-image: url("../img/bike_zurich.png");
		background-repeat: no-repeat;
		background-size: cover;
		visibility: inherit;
	}
	.about {
		padding: 10% 0 0 0;
		margin-left: auto;
		margin-right: auto;
	}
	.aboutperson {
		background-color: rgba(0, 0, 0, 0.5);
		float: left;
		width: 250px;
		height: auto;
		margin: 20px 40px 20px 40px;
		padding: 10px 10px 0 10px;
	}
	.img-about {
		border-radius: 50%;
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px
	}
}

@media (min-width: 1071px) and (max-width: 1400px){
	#containerfooter {
		width: 70%;
	}
	#leftfooter {
		width: 300px;
	}
	
	#leftfooter img {
		width: 300px;
		height: 150px;
	}
	
	#rightfooter p{
		width: 200px;
		padding: 40px 0 0 10px;
		margin: 0;
	}
	
	#rightfooter {
		height: 150px;
	}
}

@media ( min-width: 717px) and (max-width: 1070px) {
	#aboutus {
		height: 120vh;
		background-image: url("../img/bike_zurich.png");
		background-repeat: no-repeat;
		background-size: cover;
		visibility: inherit;
	}
	.about {
		padding: 20px 0 0 0;
		margin-left: auto;
		margin-right: auto;
		margin-left: auto;
	}
	.aboutperson {
		background-color: rgba(0, 0, 0, 0.5);
		float: left;
		width: 250px;
		height: auto;
		margin: 20px 40px 20px 40px;
		padding: 10px 10px 0 10px;
	}
	.img-about {
		border-radius: 50%;
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px
	}
	
	#containerfooter {
		width: 75%;
	}
	#leftfooter {
		width: 200px;
	}
	
	#leftfooter img {
		width: 200px;
		height: 100px;
	}
	
	#rightfooter p{
		width: 300px;
		padding: 20px 0 0 10px;
		margin: 0;
	}
	
	#rightfooter {
		height: 100px;
	}
}

.aboutperson h3, p {
	color: white;
	font-family: arial;
}

@media (max-width: 716px) {
	#aboutus {
		height: 180vh;
		background-image: url("../img/bike_zurich.png");
		background-repeat: no-repeat;
		background-size: cover;
		visibility: inherit;
	}
	.about {
		padding: 20px 0 0 0;
		margin-left: auto;
		margin-right: auto;
		margin-left: auto;
	}
	.aboutperson {
		background-color: rgba(0, 0, 0, 0.5);
		float: left;
		width: 250px;
		height: auto;
		margin: 20px 40px 20px 40px;
		padding: 10px 10px 0 10px;
	}
	.img-about {
		border-radius: 50%;
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px
	}
	#leftfooter {
		width: 100px;
	}
	
	#leftfooter img {
		width: 100px;
		height: 50px;
	}
	
	#rightfooter p{
		width: 225px;
		padding: 0 0 0 10px;
		margin: 0;
	}
	
	#rightfooter {
		height: 50px;
	}
}



