body {
	margin: 0;
	padding: 0
}

.imgheader {
	background-repeat: no-repeat;
	background-size: cover;
	visibility: inherit;
	height: 100vh;
}

h1 {
	color: white;
	font-family: arial;
	margin: 0;
}

.buttonBottom {
	position: absolute;
	bottom: 0;
	margin: 0 50%
}

.formbackground {
	height: 315px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	top: 30%;
}

a:link, a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: grey;
}

#footer{
	height: 20vh;
	background-color: #555;

}

#footer h1{
	font-size: 18px;
	font-family: Arial;
	text-align: center;
	padding-top:50px	
}

@media ( min-width : 1071px) {
	#aboutus {
		height: 100vh;
		background-image: url("../img/bike_zurich.png");
		background-repeat: no-repeat;
		background-size: cover;
		visibility: inherit;
	}
	.about {
		padding: 10% 0 0 0;
		margin-left: auto;
		margin-right: auto;
	}
	.aboutperson {
		background-color: rgba(0, 0, 0, 0.5);
		float: left;
		width: 250px;
		height: auto;
		margin: 20px 40px 20px 40px;
		padding: 10px 10px 0 10px;
	}
	.img-about {
		border-radius: 50%;
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px
	}
}

@media ( min-width: 717px) and (max-width: 1070px) {
	#aboutus {
		height: 120vh;
		background-image: url("../img/bike_zurich.png");
		background-repeat: no-repeat;
		background-size: cover;
		visibility: inherit;
	}
	.about {
		padding: 20px 0 0 0;
		margin-left: auto;
		margin-right: auto;
		margin-left: auto;
	}
	.aboutperson {
		background-color: rgba(0, 0, 0, 0.5);
		float: left;
		width: 250px;
		height: auto;
		margin: 20px 40px 20px 40px;
		padding: 10px 10px 0 10px;
	}
	.img-about {
		border-radius: 50%;
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px
	}
}

.aboutperson h3, p {
	color: white;
	font-family: arial;
}

@media (max-width: 716px) {
	#aboutus {
		height: 180vh;
		background-image: url("../img/bike_zurich.png");
		background-repeat: no-repeat;
		background-size: cover;
		visibility: inherit;
	}
	.about {
		padding: 20px 0 0 0;
		margin-left: auto;
		margin-right: auto;
		margin-left: auto;
	}
	.aboutperson {
		background-color: rgba(0, 0, 0, 0.5);
		float: left;
		width: 250px;
		height: auto;
		margin: 20px 40px 20px 40px;
		padding: 10px 10px 0 10px;
	}
	.img-about {
		border-radius: 50%;
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px
}



